*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
:root{
    --blue : #0092ca;
    --type: #eeeeee;
    --background:  #222225;
    --dark-black: #222831;
    --cyber : #0fe;
    --light-black: #393e46;
    --def: #96B7C4; 	
	--inv: #fff;
}
/* nav{
    
} */
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}




@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}